.bloque{
    display:inline-block;
}

#martillo {
    position:relative;
    width:250px;
    height:250px;
    padding:16px;
    border:1px dotted gray;
    border-radius:9px;
    float:left;  
}

/* Desplazamiento con porcentajes*/
#martillo-porcentaje {
    position:relative;
    background-color: rosybrown;
    width:250px;
    height:250px;
    padding:16px;
    border:1px dotted gray;
    border-radius:9px;
    transform:translate(75%,50%);
}