.bloque{
    display:inline-block;
}

#martillo-horizontal{
    position:relative;
    width:250px;
    height:250px;
    padding:16px;
    border:1px dotted gray;
    border-radius:9px;
    float:left;
    transform:rotate(60deg);
}

#martillo-abajo {
    position:relative;
    background-color: rosybrown;
    width:250px;
    height:250px;
    padding:16px;
    border:1px dotted gray;
    border-radius:9px;
    float:left;
    transform:rotate(150deg);
}

