body {
  border: 5px dashed burlywood;
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: green;
  text-align: center;
  padding: 10px;
  border-bottom: 3px groove black;
}

nav {
  background-color: green;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  border-bottom: 3px groove black;
}

nav button {
  margin: 0 10px;
}

.imagen1 {
  
  position: absolute;
  top: 0;
  left: 0;
}

.imagen2 {
  position: absolute;
  top: 0;
  right: 0;
}

.imagen3 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.imagen4 {
  position: absolute;
  bottom: 0;
  right: 0;
  
}

footer {
  margin: auto;
  background-color: green;
  text-align: center;
  padding: 10px;
  border-top: 3px groove black;
}

.contenedor {
  width: 900px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  position: relative;

}
