@media screen and (max-width: 600px) {
    body {
      background-color: yellow;
    }
  }
  @media screen and (min-width: 600px) {
    body {
      background-color: red;
    }
  }
  body {
    width: 100%;
    margin: 0 auto;
  }
  .titulo {
    background-color: green;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .titulo img {
    width: 10%;
    height:auto;
  }
  
  .titulo-enlaces {
    background-color: grey;
    display: flex;
    justify-content: flex-start; 
      list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .titulo-enlaces li {
    margin: 0 10px;
    display: inline-block;
  }
  
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  
  .contenedorservicios article {
    width: 48%;
    margin-bottom: 2%;
    padding: 1%;
    box-sizing: border-box;
  }
  
  
  .servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .servicio img {
    width: 40%;
    height: auto;
    margin-bottom: 2%;
  }
  
  .servicio button {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
    font-size:small;
  }
  
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10% 0;
  }
  
  .productos article {
    width: 23%;
    margin-bottom: 2%;
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .productos img {
    width: 80%;
    height: auto;
    margin-bottom: 2%;
  }
  .contactanos {
    background-image: url('img/imagen.jpg');
    background-size: cover;
    background-position: center;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  
  .contactanos-content h2 {
    font-size: 3rem;
  }
  
  .contactanos-content p {
    font-size: 1.5rem; 
  }
  
  
  .pies-enlaces  {
    background-color: grey;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  