.bloque {display:inline-block;}

#martillo {
    position:relative;
    width:250px;
    height:250px;
    padding:16px;
    border:1px dotted gray;
    border-radius:9px;
    float:left;  
}

#martillo-transformaciones {
    background-color: rosybrown;
    position:relative;
    width:250px;
    height:250px;
    padding:16px;
    border:1px dotted gray;
    border-radius:9px;
    float:left;
    transform:translate(200px, 50px) scale(0.5,0.75);
}
