body{

  border: 5px dashed burlywood;
  max-width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}
header {
  background-color: green;
  text-align: center;
  padding: 10px;
  border-bottom: 3px groove  black;
}

nav {
  
  background-color: green;
  padding: 10px;
  height:452px;
  flex: 1;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  justify-content: center;
  float: left;
}
nav button{
    margin: 0 10px;

}
.imagen1 {
  float: right;
  padding: 30px;
  padding-top: 150px;
}

section {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  padding-left: 200px;
}
section article{
  margin: 10px;
  padding: 10px;
  border: 3px groove  black;
}

footer {
  margin: auto;
  background-color: green;
  text-align: center;
  padding: 10px;
  border-top: 3px groove  black;

}
